/* AddUser.css */

/* Form container */
form {
    text-align: center;
    margin: 100px auto; /* Adjust the margin to control the form's layout */
    padding: 30px; /* Increase padding for a bigger form */
    width: 80%;
    max-width: 500px; /* Increase max-width for a wider form */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Form styling */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 12px; /* Increase padding for bigger input elements */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="file"] {
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  